:root {
  --color-black--rgb: 42, 42, 42;
  --color-black: #2A2A2A;
  --color-white--rgb: 255, 255, 255;
  --color-white: #ffffff;
  --color-purple-100--rgb: 105, 79, 215;
  --color-purple-100: #694FD7;
  --color-purple-200--rgb: 209, 212, 255;
  --color-purple-200: #D1D4FF;
  --color-purple-300--rgb: 238, 239, 249;
  --color-purple-300: #EEEFF9;
  --color-brown-100--rgb: 64, 35, 18;
  --color-brown-100: #402312;
  --color-brown-200--rgb: 237, 214, 179;
  --color-brown-200: #EDD6B3;
  --color-green-100--rgb: 132, 157, 90;
  --color-green-100: #849D5A;
  --color-green-200--rgb: 175, 205, 109;
  --color-green-200: #AFCD6D;
  --color-green-300--rgb: 194, 229, 113;
  --color-green-300: #C2E571;
  --color-green-400--rgb: 175, 205, 104;
  --color-green-400: #AFCD68;
}